.contents
  %header
    .group-detail
      %h2.group-detail__title
        タイトル
      %ul.group-detail__member-list
        member:
        %li
          no1,
        %li
          no2
    %a.edit-button{href: "#"}
      Edit
  .main-contents
    %ul.message-list
      %li.message-container
        %h3.message-container__header
          user
          %span.date
            20XX/XX/XX
        %p.message-container__text
          aaa
      %li.message-container
        %h3.message-container__header
          user
          %span.date
            20XX/XX/XX
        %p.message-container__text
          aaa
  .chat-box
    %form.send-message-box
      .send-message-box__textarea
        %input.textbox{:type => "text", :placeholder => "type a message"}
        %label.uploadericon{:for =>"imageuploader"}
          = fa_icon "image"
        %input#imageuploader{:type => "file"}
      %input.send-message-box__submitbutton{:type => "submit",:value => "Send"}
