.sidebar
  .top
    .top__name
      %h2
        名前
    .top_pencilkari
    .top_gearkari
  .chatgroups
    .chatgroups__list
      %p.group-name
        groupname
      %p.latest-message
        まだメッセージはありません。
    .chatgroups__list
      %p.group-name
        groupname
      %p.latest-message
        まだメッセージはありません。


