.notification{
  .notice{
    color: $white;
    background-color: $sky-blue;
    text-align: center;
  }
  .alert{
    color: $white;
    background-color: $alert-orange;
    text-align: center;
  }
}
